<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016-2019 ÉTS
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      https://www.apache.org/licenses/LICENSE-2.0
      
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="resources/specml.architecture">
      </model>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext
            id="ca.ets.sofeess.specml.architecture">
         <matcher
               class="ca.ets.sofeess.specml.architecture.internal.NoContextEnablementMatcher">
         </matcher>
      </clientContext>
      <binding
            context="ca.ets.sofeess.specml.architecture">
         <elementType
               ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents">
         </elementType>
         <elementType
               ref="org.eclipse.gmf.runtime.diagram.core.advice.removeBookmarks">
         </elementType>
         <advice
               ref="org.eclipse.papyrus.infra.emf.readOnlyAdvice">
         </advice>
      </binding>
   </extension>
</plugin>
